@icon-fontSize : 0.22rem;

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}